@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');
body {
  background-color: #29313b;
  font-weight: 800;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

* {
 color: #fff;
 font-family: 'Jetbrains mono', sans serif;
}

.title, .subtitle {
	animation: bounce 3s infinite ;
	position: relative;
    animation-timing-function: ease-in-out;
 }
@keyframes bounce {
  0% {
    top: 0px;
    text-shadow: 1px 1px 15px #821b63;
  }
  50% {
    top: 40px;
    text-shadow: 1px 1px 15px #ff00c7;
  }
  100% {
    top: 0px;
    text-shadow: 1px 1px 15px #02cc31;
  }
}
.subtitle {
	font-size: 30px;
	margin-top: -10px;
}
#enter-hero-input {
	width: 60%; 
	height: 40px;
	border: 1px solid blue;
	margin-bottom: 30px;
	margin-right: 20px;
	border-radius: 5px;
	padding: 10px;
}
#submit-button {
	background-color: #007bff;
	color: white;
	border: 1px solid blue;
	border-radius: 10px;
	height: 50px;
	width: 100px;
}
#power-stats-table {
	width: 60%;
	font-size: 30px;
	margin-right: 20%;
	margin-left: 20%;
	border: 2px solid blue;
}
th, td {
	border: 2px solid blue;
}
img {
	border: 2px solid blueviolet;
	border-radius: 10px;
}
img:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
